html {
  background: linear-gradient(236.85deg, #22577a 27.26%, #38a3a5 96.03%) repeat;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  background-size: auto;
}
body {
  background: #c7f9cc;
  background: #c7f9cc;
  border-radius: 65px;
  display: block;
  max-width: 1090px;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 15px 15px 15px #0e1d2f;
  color: #1c1c1c;
  padding: 65px 30px;
  align-items: center;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
h1 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-left: 07%;
}
.foto {
  max-width: 300px;
  border-radius: 75px;
  margin-left: 7%;
  /*   margin-right: 35px; */
}
button {
  margin-left: 71%;
  position: relative;
  bottom: 60px;
  border: none;
  background: #121613;
  color: #c7f9cc;
  box-shadow: 10px 10px 30px #050505;
  padding: 21px 51px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  letter-spacing: 3px;
  opacity: 0.9;
}
@media screen and (max-width: 600px) {
  span.lt600 {
    html {
      background: linear-gradient(236.85deg, #22577a 27.26%, #38a3a5 96.03%)
        repeat;
      font-family: "Roboto", sans-serif;
      font-family: "Roboto", sans-serif;
      background-size: auto;
    }
    body {
      background: #c7f9cc;
      background: #c7f9cc;
      border-radius: 65px;
      display: block;
      max-width: 500px;
      min-width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: 100px;
      box-shadow: 15px 15px 15px #0e1d2f;
      color: #1c1c1c;
      padding: 65px 30px;
      align-items: center;
      text-align: center;
      font-size: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
    h1 {
      display: inline-block;
      vertical-align: top;
      width: 20%;
      margin-left: 07%;
    }
    .foto {
      max-width: 250px;
      border-radius: 75px;
      margin-left: 7%;
      /*   margin-right: 35px; */
    }
    button {
      margin-left: 71%;
      position: relative;
      bottom: 60px;
      border: none;
      background: #121613;
      color: #c7f9cc;
      box-shadow: 10px 10px 30px #050505;
      padding: 21px 31px;
      border-radius: 15px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.2s;
    }
    button:hover {
      letter-spacing: 3px;
      opacity: 0.9;
    }
  }
}

/* min-width */
@media screen and (min-width: 900px) {
  span.gt900 {
    html {
      background: linear-gradient(236.85deg, #22577a 27.26%, #38a3a5 96.03%)
        repeat;
      font-family: "Roboto", sans-serif;
      font-family: "Roboto", sans-serif;
      background-size: auto;
    }
    body {
      background: #c7f9cc;
      background: #c7f9cc;
      border-radius: 65px;
      display: block;
      max-width: 1090px;
      min-width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: 100px;
      box-shadow: 15px 15px 15px #0e1d2f;
      color: #1c1c1c;
      padding: 65px 30px;
      align-items: center;
      text-align: center;
      font-size: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
    h1 {
      display: inline-block;
      vertical-align: top;
      width: 20%;
      margin-left: 07%;
    }
    .foto {
      max-width: 300px;
      border-radius: 75px;
      margin-left: 7%;
      /*   margin-right: 35px; */
    }
    button {
      margin-left: 71%;
      position: relative;
      bottom: 60px;
      border: none;
      background: #121613;
      color: #c7f9cc;
      box-shadow: 10px 10px 30px #050505;
      padding: 21px 51px;
      border-radius: 15px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.2s;
    }
    button:hover {
      letter-spacing: 3px;
      opacity: 0.9;
    }
  }
}

/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
  span.bt600-900 {
    html {
      background: linear-gradient(236.85deg, #22577a 27.26%, #38a3a5 96.03%)
        repeat;
      font-family: "Roboto", sans-serif;
      font-family: "Roboto", sans-serif;
      background-size: auto;
    }
    body {
      background: #c7f9cc;
      background: #c7f9cc;
      border-radius: 65px;
      display: block;
      max-width: 500px;
      min-width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: 100px;
      box-shadow: 15px 15px 15px #0e1d2f;
      color: #1c1c1c;
      padding: 65px 30px;
      align-items: center;
      text-align: center;
      font-size: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
    h1 {
      display: inline-block;
      vertical-align: top;
      width: 20%;
      margin-left: 07%;
    }
    .foto {
      max-width: 250px;
      border-radius: 75px;
      margin-left: 7%;
      /*   margin-right: 35px; */
    }
    button {
      margin-left: 71%;
      position: relative;
      bottom: 60px;
      border: none;
      background: #121613;
      color: #c7f9cc;
      box-shadow: 10px 10px 30px #050505;
      padding: 21px 31px;
      border-radius: 15px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.2s;
    }
    button:hover {
      letter-spacing: 3px;
      opacity: 0.9;
    }
  }
}

/* max device width */
@media screen and (max-device-width: 480px) {
  display: inline-block;
}
